/**
* Author: Anirban Nath
*/

#app-particles {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.nav-title {
  font-size: 1.2em;
}

.place-top-1 {
  z-index: 1;
}

.text-lg {
  font-size: 1.5em;
}

.text-md {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pb-ex {
  padding-bottom: 15rem;
}

.shift-up {
  margin-top: -12rem;
}

.shift-up-footer {
  margin-top: -4rem;
  padding-top: 4rem;
}

@media screen and (max-width: 991px) {
  .shift-up-footer {
    margin-top: -7rem;
    padding-top: 7rem;
  }
}

.card,
.card.img-only img {
  border-radius: 1rem;
}

.card-body.large {
  padding: 2.5rem;
}

.btn {
  border-width: 2px;
  border-radius: 290486px;
}

.bg-primary {
  background-color: #8b42ff !important;
}

.bg-primary2 {
  background-color: #051127 !important;
}

.text-primary {
  color: #8b42ff !important;
}

@media screen and (max-width: 767px) {
  .card .row .merged:not(:last-child) .card-body {
    border-bottom: 1px solid #ddd;
  }
}

@media screen and (min-width: 768px) {
  .card .row .merged:not(:last-child) {
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 992px) {
  .pb-lg-3-5 {
    padding-bottom: 1.25rem !important;
  }
}

.footer-message {
  font-size: 1.5rem;
}

.text-copyright {
  font-size: 1rem;
}

.btn-social {
  display: inline-flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  font-size: 1.25rem;
  border-radius: 50%;
}

.btn:hover .fa-social {
  opacity: 0;
}

.no-wrap {
  white-space: nowrap;
}

.project-list {
  list-style: none;
  margin: 0;
  border-left: 4px solid #007bff;
  position: relative;
  padding: 5px 0;
}

@media (min-width: 992px) {
  .project-list {
    margin: 0 60px;
  }
}

.project-item {
  padding-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-img {
  position: absolute;
  left: -32px;
  width: 60px;
  max-height: 70px;
  background-color: #fff;
}

.project-time {
  letter-spacing: 2px;
  font-weight: 300;
}

.project-desc {
  margin-top: 10px;
}
